h1{
    text-align: center;
    margin-top: 101px;
    font-size: 30px;
}

h1 span:nth-child(1){
    color : blue
}

.search-bar{
    width : 500px;
}

.search-button{
    margin-left: 10px;
}

.favicon-setting{
    margin-left: 5px;
    
    margin-right: 5px;
    margin-bottom: 5px;
}

.favicon-img-setting{
    height: 32px;
    width: 32px;
}

